

<h3 style="text-align:center">Login In</h3>
<% if flash[:my_errors] %>
  <div class="errors"><%= flash[:my_errors] %></div>
<% end %>
<div class="form">
<%= form_for :session, url: login_path do |f| %>
  <%= f.label :Username %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <div id="button"> <%= f.submit "Login", id: "login-btn"%> </div>
<% end %>
</div>