<% if flash[:my_errors] %>
  <p><%=  flash[:my_errors] %><p>
<% end %>

<h3 style="text-align:center">Login In</h3>

<div class="form">
<%= form_for :session, url: login_path do |f| %>
  <%= f.label :Username %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <div id="button"> <%= f.submit "Login" %> </div>
<% end %>
</div>