<div class="container text-center">

<h1>Login In</h1>


<%= form_for :session, url: login_path do |f| %>
<div class="form-group">

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", placeholder: "John.." %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

</div>

  <%= f.submit "Login", class: 'btn-outline-dark' %>
<% end %>

</div>