<b><h1 class="restaurant_name"><%= link_to @restaurant.business.name, @restaurant.business.url %></h1></b><br>

<div class="row">
  <% 3.times do |num| %>
    <div class="column">
      <img class="myImages" id="myImg" src="<%= @restaurant.business.photos[num] %>" style="width:100%">
    </div>
  <% end %>
</div><br>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
// create references to the modal...
var modal = document.getElementById('myModal');
// to all images -- note I'm using a class!
var images = document.getElementsByClassName('myImages');
// the image in the modal
var modalImg = document.getElementById("img01");
// and the caption in the modal
var captionText = document.getElementById("caption");

// Go through all of the images with our custom class
for (var i = 0; i < images.length; i++) {
  var img = images[i];
  // and attach our click listener for this image.
  img.onclick = function(evt) {
    console.log(evt);
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
}

var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
  modal.style.display = "none";
};
</script>

<div class="parent_rest">
  <!-- div1 section of 3 column grid -->
  <div class="div1"> 
    <%= image_tag "yelp_logo.png" %><br>
    <div class="rating_row">
      <%= image_tag @img_rating %>
      <b id="reviews"><%= @restaurant.business.review_count %> reviews</b>
    </div><br>

    <% 3.times do |num| %>
      <b><%= @yelp_reviews.reviews[num].user.name %>
      <%= image_tag YelpModel.img_rating_review(@yelp_reviews.reviews[num].rating) %>
      <%= @yelp_reviews.reviews[num].time_created[0..9] %></b>
      <p id="review_text"><%= @yelp_reviews.reviews[num].text %></p>
      <% if @yelp_reviews.reviews[num].text[-3..-1] == "..." %>
        <%= link_to "Read More", @yelp_reviews.reviews[num].url %><br>
      <% end %>
    <% end %>
  </div>


  <!-- div2 section of 3 column grid -->
  <div class="div2"> 
    <div class="yelp_information">
      <%= @restaurant.business.display_phone %><br>
    </div>
    <div class="google_map">
      <iframe
        width="500"
        height="350"
        frameborder="0" style="border:0"
        src="<%# @map_embed %>">
      </iframe>
    </div>
  </div>

  <!-- div3 section of 3 column grid -->
  <div class="div3"> 
    <div class="my_data">
      <% @my_data.each do |m| %>
        <%= m.name %>, Rating:
        <%= m.rating %><br>
      <% end %>
      <%= button_to "Write new review", new_meal_path, method: :get %>
    </div>
  </div>
</div>


