<b><h1 class="restaurant-name"><%= link_to @restaurant.business.name, @restaurant.business.url %></h1></b><br><hr>

<div class="row-restaurant">
  <% 3.times do |num| %>
    <div class="column-restaurant">
      <img class="myImages" id="myImg" src="<%= @restaurant.business.photos[num] %>" style="width:100%">
    </div>
  <% end %>
</div><br><hr>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
// create references to the modal...
var modal = document.getElementById('myModal');
// to all images -- note I'm using a class!
var images = document.getElementsByClassName('myImages');
// the image in the modal
var modalImg = document.getElementById("img01");
// and the caption in the modal
var captionText = document.getElementById("caption");

// Go through all of the images with our custom class
for (var i = 0; i < images.length; i++) {
  var img = images[i];
  // and attach our click listener for this image.
  img.onclick = function(evt) {
    console.log(evt);
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
}

var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
  modal.style.display = "none";
};
</script>

<div class="parent-restaurant">
  <!-- div1 section of 3 column grid -->
  <div class="div1-restaurant"> 
    <%= image_tag "yelp_logo.png" %><br>
    <div class="rating-row">
      <%= image_tag @img_rating %>
      <b id="reviews-restaurant"><%= @restaurant.business.review_count %> reviews</b>
    </div>

    <% if @yelp_reviews %>
      <% @yelp_reviews.reviews.count.times do |num| %>
        <b><p id="user-restaurant"><%= @yelp_reviews.reviews[num].user.name %>
        <%= image_tag YelpModel.img_rating_review(@yelp_reviews.reviews[num].rating) %>
        <%= @yelp_reviews.reviews[num].time_created[0..9] %></p></b>
        <p id="review-text"><%= @yelp_reviews.reviews[num].text %></p>
        <% if @yelp_reviews.reviews[num].text[-3..-1] == "..." %>
          <%= link_to "Read More", @yelp_reviews.reviews[num].url %><br>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <!-- div2 section of 2 column grid -->
  <div class="div2-restaurant">
    <div class="google-map">
      <iframe
        width="430"
        height="350"
        frameborder="0" style="border:0"
        src="<%= @map_embed %>">
      </iframe>
    </div>
  </div>

  <!-- div3 section of 1 column grid -->
  <div class="div3-restaurant">
    <div class="yelp-information">
      <br><br><br>
      <b>Price: </b><%= @restaurant.business.price %><br><br>
      <b>Phone: </b><%= @restaurant.business.display_phone %><br><br>
      <b id="rest-hours">Hours</b><br>
      <b>Mon: </b><%= @restaurant.business.hours[0].open[0].start + "-" + @restaurant.business.hours[0].open[0].end %><br>
      <b>Tues: </b><%= @restaurant.business.hours[0].open[1].start + "-" + @restaurant.business.hours[0].open[1].end %><br>
      <b>Wed: </b><%= @restaurant.business.hours[0].open[2].start + "-" + @restaurant.business.hours[0].open[2].end %><br>
      <b>Thur: </b><%= @restaurant.business.hours[0].open[3].start + "-" + @restaurant.business.hours[0].open[3].end %><br>
      <b>Fri: </b><%= @restaurant.business.hours[0].open[4].start + "-" + @restaurant.business.hours[0].open[4].end %><br>
      <b>Sat: </b><%= @restaurant.business.hours[0].open[5].start + "-" + @restaurant.business.hours[0].open[5].end %><br>
      <b>Sun: </b><%= @restaurant.business.hours[0].open[6].start + "-" + @restaurant.business.hours[0].open[6].end %><br>
      <% if @restaurant.business.hours[0].is_open_now %>
        <b style="color:green">OPEN NOW</b>
      <% else %>
        <b style="color:red">CLOSED NOW</b>
      <% end %>
    </div>
  </div>

  <!-- div3 section of 3 column grid -->
  <div class="div4-restaurant"> 
    <div class="my-data">
      <% @my_data.each do |m| %>
        <b><p id="user-restaurant"><%= m.user.name %>
        <%= image_tag YelpModel.img_rating_review(m.rating) %>
        <%= m.created_at.strftime("%Y-%m-%d") %></p></b>
        <%= m.comments %>
      <% end %>
    </div><br>
    <% if session[:user_id] %>
      <%= button_to "Write a new review", new_meal_path, method: :get, id: "new-review-btn" %>
    <% else %>
      <%= button_to "Write a new review", new_login_path, method: :get, id: "new-review-btn" %>
    <% end %>
  </div>
</div>


