<div class="container-1">
    <div class=box-1>
    <h2> <% if session[:user_id] == @user.id%>
      <%= @user.name %>'s Profile <small><%= @user.meals.count %> reviews </small>
    <% else%>
      <%= @user.name %>'s profile <small><%= @user.meals.count %> reviews</small>
    <% end%></h2><hr>
    <% if @user.meals.count > 0%>
        <% @user.meals.each do |meal|%>
            <h1><%= meal.name %><br></h1>
            <%= image_tag YelpModel.img_rating_show(meal.rating) %><br>
            <%= image_tag meal.picture_url %>
            <p> <%= meal.comments %> </p>
            <hr>
        <% end%>
    <% else %>
        You don't have any reviews! <%= link_to 'Add some', root_path %>.
    <% end%>
    </div>
    <div class="box-2">  
        <h2>Restaurants you've written about</h2><hr>
        <% @user.restaurants_visited.each do |r| %>
          <% business = YelpModel.specific_search(r).business %>
          <label><%= link_to business.name, restaurant_path(business.id) %></label>
          <hr>
        <% end %>
    </div>      
</div>



