<div class="parent-welcome">
  <h1 class="div1-welcome">Welcome to Whoop!</h1>
  <div class="div2-welcome">
    <p>The best place on Earth for rating meals.</p>
    <p>“One cannot think well, love well, sleep well, if one has not dined well.”</p>
  </div>
</div>

<hr>
 
<div class="container-welcome">
  <%= image_tag "whoop_logo.png", class: "whoop_logo" %>
  <h5 style="text-align:center">Find a restaurant. Rate a meal.<h5>
  <%= form_tag search_results_path, method: :post do %>
    <%= text_field_tag :term, params[:term], placeholder: "Search Term" %><br>
    <%= text_field_tag :location, params[:location], placeholder: "Location" %> <br>
    <%= submit_tag "Go", id: 'btn-welcome' %>
<% end %>
</div>

<hr>

<div class="container-welcome">
<% if flash[:results] %>
  <% flash[:results].each do |b| %>
    <%= link_to b[0], restaurant_path(b[1]) %><br>
  <% end %>
  <% else %>
    <p id=description>Whoop is the #1 platform in the world for rating your meals. User our search function to seamlessly locate restaurants<p>
  <% end %>
</div>
<hr>