<h1>Your review for <%= @restaurant_name %></h1>

<div class="container">
  Name: <%= @meal.name %><br>
  Rating: <%= @meal.rating %><br>
  <%= image_tag @meal.picture_url %><br>
  <%= @meal.comments %><br>

  <div class="row">
    <%= button_to "Visit Restaurant Page", restaurant_path(@meal.yelp_id), method: :get %>
    <%= button_to "Delete Meal", meal_path(@meal), method: :delete%>
  </div>
</div>