<h1>Your review for <%= @restaurant_name %></h1>

<div class="container">
  Name: <%= @meal.name %><br>
  Rating: <%= @meal.rating %><br>
  <%= image_tag @meal.picture_url %><br>
  <%= @meal.comments %><br><br>

  <div class="row">
    <%= button_to "Visit Restaurant Page", restaurant_path(@meal.yelp_id), method: :get, id: "restuarant-btn" %>
    <div id="edit-meal">
      <%= button_to "Edit Review", meal_path(@meal), method: :delete %>
    </div>
    <%= button_to "Delete Review", meal_path(@meal), method: :delete, id: "delete-meal" %>
  </div>
</div>