<!DOCTYPE html>
<html>
  <head>
    <title>Mod2FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


   <!-- <div class='banner'>
      <%= image_tag "logos/whoop_logo.png", class: 'banner-img' %>
    </div> -->
      
      <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <% if session[:user_id]%>
      <li><%= link_to "Your Profile", user_path(session[:user_id]) %> </li>
      <% end%>

    <% if @current_user %>
        <li class="right"> Signed in as: <b id='profile-name'><%= @current_user.name %></b></li>
        <li class="right"> <%= link_to "Logout", logout_path, method: :delete %> </li>
    <% else %>
        <li class="right"> <%= link_to "Sign Up", new_user_path %> </li>
        <li class="right"><%= link_to "Login", new_login_path %> </li>
    <% end%>

    </ul>

    

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

  </body>
</html>
